
.navbar-lewagon {
  justify-content: space-around;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-top: 30px;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  padding-bottom: 20px;
}

.navbar-brand {
  align-content: space-around;
  text-decoration: none;
  text-decoration-style: none;
}

.nav-item{
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  text-decoration-style: none;
}

.a.nav-item {
  display: flex;
  justify-content: end;
  text-decoration: none;
}

.nav-link {
  justify-content: space-between;
  align-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  justify-content: space-between;
  align-content: space-between;
  text-decoration: none;
  color: darkolivegreen;
}
